#welcome{
  color: whitesmoke;
  font-size: 100%;
  background-color: indigo;
  padding: 10px;
  text-transform: full-width;
  text-align: center;
}
#welcome .wel1{
  background-color: green;
  padding: 30px 30px 30px 30px;
  margin:60px;
  text-align: center;
}
#aside1 {
  width: 30%;
  padding-left: 25px;
  margin-left: 25px;
  float: right;
  color: white;
  background-color: indigo;
}


 #footer{
  text-align: center;
  padding: 3px;
  background-color: indigo;
  color: white;

}
#maincontent .bio{
  background-color: indigo;
  color: white;
  font-family: "Times New Roman", Times, serif;
  font-size: 20pt;
  font-style: italic;
  text-align: center;
  padding: 70px 50px 50px 50px;

  align-content: center;
}

body{
  background-color: black;
}
#catch{
  font-family: "Times New Roman", Times, serif;
  font-size: 20pt;
  font-style: oblique ;
  padding: 20px 10px;
  height: 20px;
  width: 30%;
  color: whitesmoke;
  text-align: center;
  background-color: indigo;
}

#aside1 .as2{
  margin: 55px;
  background-color: green;
  padding: 55px;
  text-align: center;

}
#aside1 .as1{
  margin: 55px;
  margin-bottom: 60px;
  background-color: green;
  padding: 30px;
  text-align: center;
}

#welcome .name{
  background-color: indigo;
  margin:60px;
  text-align: center;
  color: whitesmoke;
  padding: 20px;
}
